body {
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
}

body a {
  color: white;
}

body .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40%;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

body .fullOpacity {
    opacity: 1;
}

body .opacity30 {
    opacity: 0.3;
}

body .invisible {
    opacity: 0;
}

body .hidden {
  display: none;
}

body input {
    background-color: rgba(0, 0, 0, 0.4);
    border-color: white;
    color: white;
    font-size: 1.4rem;
    font-family: Roboto, sans-serif;
    padding: 1rem;
    width: 30rem;
    border-radius: 4px;
    border-width: 1px;
    border-style: groove;
}

body input[list] {
  background-color: black;
}

body input:focus {
    outline-width: 0;
}

body .wrapper {
    position: fixed;
    left:0; right:0;
    top:0; bottom:0;
    margin: auto;
    width: 50%;
    height: 50%;
    text-align: center;
    transition: opacity 4s ease-in-out;
}

body .wrapper h1 {
    font-family: "League Gothic", Impact, sans-serif;
    font-weight: normal;
    font-size: 7rem;
    text-transform: uppercase;
    margin: 1rem;
}

body .wrapper p.teaser {
    font-size: 2rem;
}

