<h1>{{ grimName }} is grim</h1>
<p class="teaser">Do you miss the old Metal Travel Guide? Looking for a rocking bar at your next travel destination?
  Maybe a dark place to visit in the area? Or someone likeminded to share a glass with and/or help you get around?
</p>
<p>
  Well, this website is striving to help you just with that. Do note however, that this is a non-commercial project driven purely by enthusiasm.
  As such we would ask for you to be patient with its imperfections and lack of data in the beginning.
</p>
<p>
  The goal for this is to become a community thing. If you're feeling helpful, adding a missing place you know about would be a great start and highly appreciated.
</p>
<p class="teaser">
  Start writing to look up a country / city:
</p>
